body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.header{
    font-family: 'Baloo Bhai', cursive;
    background-color: black ;
    font-size: 40px;
    color: lightgrey;
    height: 65px;
    
}

.matter{
    
    margin-left: 25px;
}

.img-medium {
    margin-right:auto;
    margin-left:auto;
    border-radius: 50%;
    margin-top: 25px;
    height: 200px;
    width: 200px;
    
}

