body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.header{
    margin: 0;
    font-family: 'Baloo Bhai', cursive;
    background-color: black ;
    font-size: 40px;
    color: lightgrey;
    height: 300px;
    
}
.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
    width: 200px;
    
}

